
<p *ngIf="showTable">Выберите комнату и начальное время</p>   
<div class="content" *ngIf="showTable">
  <div class="box">
    <table class="time-table-start">
      <tr class="time-cell-start">
        <th>Начало</th>
      </tr>
      <tr class="time-cell-start" *ngFor="let time of startTime">
        <th>{{time}}</th>
      </tr>
    </table>

    <table class="event-table" *ngFor="let room of rooms">
      <tr class="event-cell">
        <th>{{room.name}}</th>
      </tr>
      <tr class="event-cell" *ngFor="let time of room.times">
        <td [class.busy]="time.busy" (click)="selectRoom(time)">{{time.title}}</td> 
      </tr>
    </table>

    <table class="time-table-end">
      <tr class="time-cell-end">
        <th>Конец</th>
      </tr>
      <tr class="time-cell-end" *ngFor="let time of endTime">
        <th>{{time}}</th>
      </tr>
    </table> 
  </div>
</div>
<app-date-editor 
  *ngIf="showEditor" 
  [event]="selectedEvent"
  (back)="backToTable($event)"
  ></app-date-editor>