@color-cell_border: rgb(87, 86, 86);
@color-busy: lighten(tomato, 15%);
@color-free: rgb(180, 255, 180);
@color-theme: lighten(royalblue, 30%);

td, th {
    border: 1px solid @color-cell_border;
    text-align: center;
    width: 4rem;
    height: 2.5rem;
    max-width: 7rem;
    min-width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1px 10px 0px 10px;  
}
.room-name {
    cursor: context-menu;
    &:hover {
        background-color: lighten(@color-theme, 5%);
    }
}

table {
    border-collapse: collapse;
}

td.busy {
    background-color: @color-busy !important;
}

.event-cell > td {
    background-color: @color-free;
    border-right: 0px;
}
.event-cell > th {
    border-right: 0px;
}
.time-cell-start > th { 
    border-right: 0px;
}

.content {
    flex: 1;
    display: flex;
    overflow: auto;
    justify-content: center;
}
.box {
    min-height: 1080px; /* needs vendor prefixes */
    display: flex;
    overflow: auto;
}
p {
    text-align: center;
}