<div id="main" *ngIf="event">
  <form [formGroup]="editorForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="content"> 
      <div class="block" >

        <div>
          <label>С </label>
            <select #select id="startDate" (change)="errorTime=false">

              <option 
              *ngFor="let time of startTime; let i = index" 
                value="{{i}}"
                [selected]="event.start_time === i">
                {{time}}
              </option>

            </select>
          </div>

        <div>
          <label>комната: "{{event.roomName}}"</label> 
        </div> 

        <div>     
          <label>до </label>

          <select #select id="endDate" (change)="errorTime=false">

            <option 
              *ngFor="let time of endTime; let z = index" 
              value="{{z}}" 
              [selected]="event.end_time === z">
              {{time}}
            </option>
            
          </select> 
        </div>
      </div>
      <p id="error" *ngIf="errorTime">Не верно запланировано время события!</p>
      <div formGroupName="inputs">
        <div class="block" >
          <label>Ваше имя: </label> 
          <input type="text" placeholder="Иванов Иван Иванович" formControlName="who">
        </div>
        <div class="block">
            <label>Название события: </label> 
            <input type="text" placeholder="Переговоры" formControlName="title">
        </div>

      </div>
      <button id="button" type="submit" [disabled]="!editorForm.valid">Создать</button>    
    </div>
  </form>
</div>